# Ignore Node Modules (Speed Up Build)
node_modules
packages/**/node_modules

# Ignore Environment Files
**/.env
**/*.env

# Ignore Development Configs
.vscode
.git
.github
.gitignore
*.tsbuildinfo

# Ignore Build Outputs
**/dist
packages/**/dist
packages/**/.turbo
packages/**/*.test.*
packages/cli/dist/**/e2e.*

# Ignore Temporary Cache Files
.cache
cypress
docker/compose
docker/**/Dockerfile

# Ignore Documentation Files
**/*.md
